@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Macondo&family=Macondo+Swash+Caps&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

body {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: rgb(88, 26, 15);    
}

main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: white;
    width: 80vw;
    height: fit-content;
    border-radius: 20px;    
    overflow: hidden;
    box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.336);

    transition: width .1s, height .3s;
    transition-timing-function: ease;
}

#imagem {
    background: url("../images/besta-de-dragao-mitico-no-estilo-anime.jpg") no-repeat center center;
    background-size: cover;
    height: 160px;
}

#login {
    padding: 8px;
}

#login h1{
    font-family: "Macondo", cursive;
    font-variant: small-caps;
    font-size: 2.2em;
    text-align: center;
    margin: 4px 0;
    color: rgba(155, 2, 2, 0.815);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.199);
}

#login p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 0.9em;
    text-align: justify;
    text-indent: 30px;
    margin: 8px 0;    
}

#login q {
    display: block;
    width: 100%;
    padding-right: 32px;
    margin-bottom: 8px;
    font: italic bold 0.9em "Macondo Swash Caps", cursive, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: right;
}

div.campo {
    height: 40px;
    background-color: rgba(155, 2, 2);
    border-radius: 8px;
    margin: 4px 0;
    padding: 2px;
}

.campo span {
    display: block;
    float: left;
    width: 40px;
    height: 100%;
    background-color: rgba(155, 2, 2);
    color: white;
    border-radius: 8px;
    padding: 8px;
    text-align: center;    
}

.campo input {    
    display: block;
    float: right;
    height: 100%;
    width: calc(100% - 40px);    
    border: 0;
    border-radius: 8px;
    padding: 0 8px;
    background-color: rgb(255, 255, 255, 0.9);
}

.campo input:focus-within {
    background-color: rgba(255, 255, 255);

}

#login label {
    display: none;
}

input[type="submit"] {
    display: block;
    height: 32px;
    width: 100%;
    border: none;
    background-color: rgb(155, 2, 2);
    color: white;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1em;
}

input[type="submit"]:hover {
    background-color: rgb(201, 23, 23);
}

#login > form a {
    display: block;    
    width: 100%;
    padding: 4px;
    margin: 4px 0;
    text-align: center;    
    text-decoration: none;
    color: rgba(155, 2, 2);
}

#novo-usuario:hover {
    background-color: rgb(201, 23, 23);
    color: white;
}

#login > form a > span {
    font-size: 16px;
}

#novo-usuario {
    border: 1px solid rgba(155, 2, 2);
    border-radius: 8px;
    height: 32px;
    font-size: 1em;
}

#recuperar-senha {
    font-size: .8em;
}

#recuperar-senha:hover {
    text-decoration: underline;    
}

footer {
    margin-top: 24px;
    font-size: .7em;
    border-top: 1px solid rgba(155, 2, 2, 0.7);
    padding-top: 4px;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: rgba(155, 2, 2);
}

footer a:hover {
    text-decoration: underline;
}